body{

    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0px 20px 0px 20px;
    
}

header{

    background-color: #f4511e;
    
}

/*logo*/
.navbar-brand{

    text-align: center;
    font-weight: 400;
    font-size:xx-large;
    margin-left: 5px;
    color:black;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 38px;
    text-shadow: 2px 2px 2px white;
    
}

/*Menu De navegação*/
.nav-link, nav-link dropdown-toggle{

    font-size: 20px;

}


section, footer{

    margin: 40px;
}

h1{

    font-size: 63px;
    color:white;
    line-height: 1.0em;
    padding: 15px;
    text-align: center;
}

h2{

    font-size: 24px;
    color: #303030;
    font-weight: 600;
}


.carousel-inner h5{

    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}
